# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*


# Ignore these files/folders
.storage
.cloud
.google.token 
secrets.yaml
san_script/
tts/
log/
.ssh/
home-assistant.log
*.log.*
*.db
*.db*
